<div class = "top">
  <p>このアプリケーションは野菜のロス削減を目指します
    <br>欲しいユーザは投稿から選び、譲りたいユーザは投稿ができます
    <br>双方のユーザ同士でメッセージのやりとりを行うことが可能です
    <br>約束を取り付けたら実際に貰ったり譲ったりしましょう</p>
</div>

    <%= link_to "新規登録", new_user_registration_path, {class: "top-login"} %>
    <%= link_to "ログイン", new_user_session_path, {class: "top-login"} %>



