/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}
header {
    background: url("vegetable1.png");
	object-fit:cover;
    padding-bottom: 20px;
}

body {
    background: url("board.png"); 
    font-family: "TsukuARdGothic-Regular";
}

h1 {
    text-align: center;
}

.hero-is-info {
    padding-top: 30px;
}

.container {
    text-align: center;
    padding-bottom: 100px;
}
.new_user {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.label {
    font-size: 25px;
}
.input {
    height: 25px;
}
.control-has-icons-left {
    padding-top: 20px;
    padding-bottom: 10px;
}
.actions {
    padding-top: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 60px;
}

.box {
    position:relative;
    padding: 35px 20px 15px;
    margin: 2.5em auto;
    width: 90%;
    color: #555555; /* 文字色 */
    background-color: #e8ddbd;
    box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
}

.box-tape {
    position: absolute;
    top: -15px;
    left: 30px;
    padding: 4px 20px;
    color: #555555; /*タイトル色*/
    font-weight: bold;
    background-color: rgba(255,255,255,.4);
    border-left: 2px dotted rgba(0,0,0,.1);
    border-right: 2px dotted rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    transform: rotate(-5deg);
   }
   
.button {
    text-align: center;
    padding-top: 10px;
}



