/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
    color: black;
    font-weight:  bold;
}
a:hover {
    color: #FFCC00;
    font-weight: bold;
}

.guest-login{
    text-align: center;
    display: inline-block;
	position: relative;
	width: 200px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border-radius: 30px;
	border:1px solid #1B1B1B;
	transition: transform ease .3s;
}

.guest-login:hover {
	 cursor: pointer;
	 text-decoration: none;
}
.guest-login span {
	display: inline-block;
	text-decoration: none;	
	transition: transform ease .3s;
}
.guest-login:hover span{
	cursor: pointer;
	text-decoration: none;
	transform: translateX(6px);
}