// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat-room {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
  .content {
    box-shadow: 0 0 8px gray;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    height: 70px;
  }

  .form-control {
      width: 500px;
      height: 70px;
  }
  .field {
      text-align: right;
      margin-top: 30px;
      margin-right: 30px;
  }

  .message-button {
      text-align: right;
      margin-top: 10px;
      margin-right: 40px;
  }